@model IEnumerable<DAL.Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<h1>Genres</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead class="thead-dark">
        <tr style="background-color: #007BFF; color: white;">
            <th>Genre name</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(item.Name ?? "N/A")</td>
                <td>@(item.Description ?? "N/A")</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
